
{% extends "quiz/base.html" %}
{% load static %}
{% block content %}

<div class="row justify-content-center mt-5">
        <div class="col-md-7 text-center">
            <h1><u>Quiz Time !!</u></h1>
            <img src="{% static 'quiz\2978479.jpg' %}" class="w-50 h-50 rounded img-fluid" alt="Quiz">
            <h3>Current Quiz : </h3>
            <h5><u> 1. Python </u></h5>
            <a role="button" class="btn btn-primary btn-lg" href="{% url 'attendquiz' %}">Start</a>
            <br>
        </div>
    </div>
<br>
<br>
<br>
{% endblock %}
